site_name: Ivan's All Caxton Typefaces You Can Use Buffet Documentation
site_description: The Documentation for this Modrinth Modpack
site_url: https://Ivan951236.github.com/ivans-font-buffet-docs
site_author: Ivan95 (Ivan951236 on Github)
repo_url: https://github.com/Ivan951236/ivans-font-buffet-docs
repo_name: ivans-font-buffet-docs
edit_uri: edit/master/docs/
copyright: Not affiliated with Mojang, Modrinth or Microsoft corporation
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: material/pencil
      tip: material/lightbulb
  favicon: images/favicon.png
  logo: assets/logo.png
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.share
    - search.suggest
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

validation:
  links:
    absolute_links: relative_to_docs

plugins:
  - search
  - meta
  - glightbox:
      zoomable: true
      draggable: true
      effect: fade
      width: 100%
  - group:
      enabled: !ENV [CI, false]
      plugins:
        - git-committers:
            repository: Ivan951236/ivans-font-buffet-docs
            exclude:
              - README.md
              - blog/**
        - git-revision-date-localized:
            enable_creation_date: true
            type: timeago
            exclude:
              - README.md
              - blog/**

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.keys
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tasklist
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: README.md
  - Issues:
     - caxton-docs/Known-Issues/Generic.md